<web-app>

    <servlet>
        <servlet-name>mini</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>foo</servlet-name>
        <servlet-class>com.mini.servlet.FooServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bar</servlet-name>
        <servlet-class>com.mini.servlet.BarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>foo</servlet-name>
        <url-pattern>/servlet/foo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bar</servlet-name>
        <url-pattern>/servlet/bar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mini</servlet-name>
        <url-pattern>/mini/*</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>auctionSniffer</filter-name>
        <filter-class>com.mini.filter.AuctionSniffer</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>auctionSniffer</filter-name>
        <url-pattern>/mini/*</url-pattern>
    </filter-mapping>

</web-app>